{% extends 'index.html' %}
{% block content %}
    <h2>Vous êtes hatter!</h2>
    <p>Éxpliquez le plus mots possible</p>
    <br>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="background:#324ca1;color:white;">
				<h4 class="text-center">
					{% if word %}
                    <p>{{ word }} </p>
                    {% endif %}
                    {% if error %}
                    <p> {{ error }}
                    {% endif %}
				</h4>
			</div>
        </div>
        <div class="col-md-4">
        </div>
    </div>


    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <input type="submit" class="save btn btn-success btn-large" name = "next_word" value="Bravo">
             </div>
             <div class="col-md-2 text-right">
                <input type="submit" class="save btn btn-danger btn-large" name = "skip_word" value="Passer">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-secondary btn-large" name = "next_turn" value="Terminer le tour">
            </div>
            <div class="col-md-6 text-right">
                 <input type="submit" class="btn active btn-secondary btn-large" name = "game_over" value="Game over">
            </div>
        </div>
        <input type="hidden" name="word" value="{{ word }}">
    </form>
{% endblock %}